{% extends "jobs/base.html" %}

{% block title %}
Create Job
{% endblock %}

{% block sidebar %}
<li><a href="/">Overview</a></li>
<li class="active"><a href="/create">Create Job<span class="sr-only">(current)</span></a></li>
<li><a href="/run">Run Job</a></li>
{% endblock %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'jobs/css/jstree-style.min.css' %}" rel="stylesheet">

{% if error_message %}
<h3>Job Creation Failed!</h3>
{{error_message}}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="job_name">Job Name</label>
        <input id="job_name" class="form-control" type="text" name="job_name" value="{{ job_name }}" required="True">
    </div>
    <div class="form-group">
        <label for="code_url">Code URL (Only use GitHub repository and include the 'https' part)</label>
        <input id="code_url" class="form-control" type="url" name="code_url" value="{{ code_url }}" required="True">
    </div>
    <div class="form-group">
        <label for="data_used">Choose Datasets (hold ctrl or command to select multiple datasets)</label>
        <select multiple id="data_used" class="form-control" name="data_used" size='15' required="True">
        {% for data in dataset %}
            <option value="{{ data.dataset_name }}">{{ data.dataset_name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group" id="jstree_div">
        <!--<ul>
            <li>Root node 1
                <ul>
                    <li>Child node 1</li>
                    <li>Child node 2</li>
                </ul>
            </li>
        </ul>-->
    {% autoescape off %}
        {{data_tree}}
    {% endautoescape %}
    </div>
    <div class="form-group">
        <label for="result_file">Name of Result File (ex: pvals.yml)</label>
        <input id="result_file" class="form-control" type="text" name="result_file" value="{{ result_file }}" required="True">
    </div>
    <div class="form-group">
        <label for="result_directory">Path to Result Directory (ex: /shares/gcp/outputs/tmp)</label>
        <input id="result_directory" class="form-control" type="text" name="result_directory" value="{{ result_directory }}" required="True">
    </div>
    <div class="form-group">
        <label for="command">Commands to start</label>
        <textarea id="command" class="form-control" name="command" value="{{ command }}" rows="5" required="True"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block js %}
{% load staticfiles %}
<script src="{% static 'jobs/js/jstree.min.js' %}"></script>
{% endblock %}
