{% extends "jobs/base.html" %}
{% block title %}Overview{% endblock %}
{% block sidebar %}
<li class="active"><a href="/">Overview of Jobs Running <span class="sr-only">(current)</span></a></li>
<li><a href="/create">Create Job</a></li>
<li><a href="/run">Run Job</a></li>
{% endblock %}
{% block js %}
<script src="/static/jobs/js/dashboard.js"></script>
{% endblock %}

{% block content %}
{% for job in jobs %}
<div class="table-responsive">
<h3 class="sub-header">{{ job.job_name }} <span style="float:right"><input class="btn btn-primary stop_job" value="Stop Job"></span></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Server</th>
      <th>Result Files</th>
      <th>Result Generated</th>
      <th>Processes Run</th>
      <th>Current Live</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for jobrun in job.jobrunningonserver_set.all %}
    <tr>
      <td>{{ jobrun.server.server_name }}</td>
      <td>{{ job.result_file }}</td>
      <td>{{ jobrun.result_nums}}</td>
      <td class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ jobrun.cores_used }}<span class="caret"></span></a>
        <ul class="dropdown-menu" style="min-width:270px;padding:5px 5px">
        {% for process in jobrun.process_set.all %}
          <li>
              <span> {{ process.pid }}  </span><span>  {{ process.status }} </span><span>   {{ process.log_file}} </span>
          </li>
        {% endfor %}
        </ul>
      </td>
      <td>{{ jobrun.process_living }} / {{ jobrun.cores_used }}</td>
      <td><a class="delete_jobrun" href="#" data="{{ jobrun.id }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}
{% endblock %}
