{% extends "jobs/base.html" %}
{% block title %}Overview{% endblock %}
{% block message %}{{message}}{% endblock %}
{% block sidebar %}
<li class="active"><a href="/">Overview of Jobs Running <span class="sr-only">(current)</span></a></li>
<li><a href="/create">Create Job</a></li>
<li><a href="/run">Run Job</a></li>
{% endblock %}

{% block content %}
{% for job in jobs %}
<div class="table-responsive">
<h3 class="sub-header">{{ job.job_name }}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Server</th>
      <th>Result Files</th>
      <th>Result Generated</th>
      <th># of Processes Running</th>
      <th>Total Processes</th>
      <th>Job Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for job_running in job.jobrunningonserver_set.all %}
    <tr>
      <td>{{ job_running.server.server_name }}</td>
      <td>{{ job.result_file }}</td>
      <td class="res-count">{{ job_running.result_nums}}</td>
      <td class="dropdown">
        <a class="dropdown-toggle pro-count" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ job_running.process_living }}<span class="caret"></span></a>
        <ul class="dropdown-menu" style="min-width:270px;padding:5px 5px">
        {% for process in job_running.process_set.all %}
          <li>
              <span> {{ process.pid }}  </span><span>  {{ process.status }} </span><span>   {{ process.log_file}} </span>
          </li>
        {% endfor %}
        </ul>
      </td>
      <td>{{ job_running.cores_used }}</td>
      <td class="status">{{ job_running.status }}</td>
      <td><button class="btn btn-primary stop_job" style="margin:0px 3px;padding:3px 6px">Stop</button>
	  <button class="btn btn-primary get_data" style="margin:0px 3px;padding:3px 6px"
		  {% if job_running.server.server_name == 'Shackleton' %} disabled {% endif %}>Get Data</button>
          </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}
{% endblock %}
